{% extends 'layout.njk' %}

{% block content %}

<div class="card table-container">


    <div class="header">
        <a class="button" href="/members/create">Novo</a>
            <form action="/members" method="GET">
                <input 
                    type="text" 
                    name="filter" 
                    placeholder="Nome ou Email"
                    value="{{filter}}"
                >
                <button type="submit">Filtrar</button>
            </form>
    </div>

    <h1 id="notfound-message">Membro não encontrado</h1>

    <div class="pagination" 
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-filter={{filter}}
    ></div>

</div>


{% endblock content %}